<div class="header">
	<nav>
		<%= link_to 'Home', root_path %>
		<%= link_to 'Music', music_path %>
		<%= link_to 'Press', press_path %>
		<%= link_to 'About', about_path %>
		<%= link_to 'Shop', shop_path %>
	</nav>
</div>
<br>
<br>
<br>
<br>
<br>
<br>


